*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Segoe UI,sans-serif;
    background:#f3f6fb;
    color:#333;
}

.container{
    max-width:1200px;
    margin:auto;
    padding:20px;
}

header{
    position:relative;
    text-align:center;
    margin-bottom:30px;
}

.search-box{
    position:absolute;
    top:10px;
    right:10px;
    display:flex;
    gap:5px;
}
.search-box input{
    padding:6px 10px;
    border:1px solid #ccc;
    border-radius:6px;
}
.search-box button{
    padding:6px 12px;
}

.hasil-cari{
    position:absolute;
    top:50px;
    right:20px;
    width:300px;
    font-size:12px;
    color:#666;
    font-style:italic;
}

.logo{
    width:80px;
    margin-bottom:10px;
}

header h1{
    color:#005fa3;
}

header p{
    color:#666;
}

.grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}

.card{
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 3px 10px rgba(0,0,0,.1);
}

.card h2{
    margin-bottom:15px;
    color:#005fa3;
}

.card a{
    display:block;
    text-decoration:none;
    color:white;
    background:#4fa3ff;
    margin:8px 0;
    padding:12px;
    border-radius:10px;
    transition:.2s;
}

.card a:hover{
    transform:translateY(-2px);
    background:#2789f5;
}

.year-btn{
    width:100%;
    border:none;
    cursor:pointer;
    background:#e8eef8;
    padding:12px;
    border-radius:10px;
    margin-top:10px;
    text-align:left;
    font-weight:bold;
}

.year-content{
    max-height:0;
    overflow:hidden;
    opacity:0;
    transform:translateY(-10px);
    transition:all 0.3s ease;
}

.year-content.active{
    max-height:1000px;
    opacity:1;
    transform:translateY(0);
}

footer{
    margin-top:30px;
    text-align:center;
    padding:20px;
    background:#ffd84d;
    font-weight:bold;
}
.wa-container{
    display:flex;
    justify-content:flex-end;
    margin-top:10px;
    margin-right:10px;
}

.wa-btn{
    position:fixed;
    right:20px;
    bottom:20px;

    display:flex;
    align-items:center;
    gap:8px;

    background:#25d366;
    color:white;
    text-decoration:none;
    padding:10px 15px;
    border-radius:50px;

    z-index:9999;
}

.wa-btn img{
    width:24px;
    height:24px;
}


#quotes{
    margin-top: 15px;
    font-style: italic;
    color: #666;
    font-size:0.85rem;
}

@media(max-width:768px){

.grid{
    grid-template-columns:1fr;
}


.kabur{transition: transform 0.15s ease;
      }

.search-box{
    position:static;
    margin-bottom:10px;
    justify-content:center;
}
}